@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Macondo';
}

body {
    
    background-color: rgb(63, 63, 63);
    color: rgb(145, 145, 145);
    border: 1px solid green;
}


.header {
    background-color: rgb(255, 115, 0);
    height: 60px;
    display: flex;
    color: black;
    justify-content: right;
}

header h1 {
    flex-grow: 1;
}

.header button {
    background-color: rgb(255, 115, 0);
    border-radius: 7%;
    
}


.saved, .new {
    border: 2px solid black;
    margin-top: 6px;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-end;
   
}

/*.new {
    border: 2px solid black;;
    margin-top: 6px;
    padding: 10px;
    justify-content: right;
    position: relative; 
}*/
header {
    display: flex;
}
header .saved {
    padding-top: 20px;
    padding: 10px;
    justify-content: right;
}

.title {
    padding: 10px;
}

.container {
    padding: 20px;
    max-width: 50%;
    height: 700px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap
    gap: 1em;
}


.placeholder-Image{
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 115, 0);
    height: 350px;
    display: flex;
    align-self: flex-start;
}

.container-description {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-self: flex-end;
    order: -1;
    
}

.container-Stats {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 500px;
    height: 400px;
    align-self: flex-end;
}

.container-companion {
    border: 1px solid red;
    align-self: center;
}
.container-Buttons {
    position: fixed;;
    bottom: 50px;
    right: 200px;

}

.btn {
    background-color: rgb(255, 115, 0);
    padding: 20px;
    font-size: 30px;
    border-radius: 7%;
    
    
}